<h1><strong> Stupid Coaching </strong></h1>

<h2> Ask your Coach anything </h2>

<form action="answer" data-turbo="false">
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>
